@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Firago';
  src: url('./assets/fonts/FiraGO-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Firago';
  src: url('./assets/fonts/FiraGO-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Firago';
  src: url('./assets/fonts/FiraGO-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Firago';
  src: url('./assets/fonts/FiraGO-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Firago';
  src: url('./assets/fonts/FiraGO-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
